body
{
	background-color: black;

	color: lightgray;
	font-size: 24px;
	font-family: "Inconsolata";
	font-weight: 700;
}

#pojemnik
{
/* 	border: 1px solid white; */
	
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#plansza
{
/* 	border: 1px solid green; */
	
	width: 950px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 40px;
	min-height: 60px;
}

#szubienica
{
/* 	border: 1px solid red; */
	
	float: left;
	width: 480px;
	text-align: center;
	min-height: 280px;
}

#alfabet
{
/* 	border: 1px solid yellow; */
	
	float: left;
	width: 450px;
	text-align: center;
	min-height: 280px;
}

.litera
{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 5px;
	margin: 5px;
	border: 3px solid gray;
	float: left;
	cursor: pointer;
	border-radius: 15px;
}

.litera:hover
{
	color: white;
	border: 3px solid white;
	background-color: #222222;
}

.reset
{
	color: green;
	cursor: pointer;
	font-size: 48px;
}

.reset:hover
{
	color: white;
}

#licznik
{
/* 	border: 1px solid yellow; */

	padding: 2px;
	min-height: 20px;
}

.gracze {
	width: 604px;
	/* height: 105px; */
	text-align: center;
	background-color: #292929;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	cursor: pointer;
}

.jedenGracz {
	border: 1px #ffffff solid;
	float: left;
	width: 260px;
	height: 100%;
	padding: 20px;
}

.jedenGracz:hover {
	background-color: #4668b3;
}

.dwaGracz {
	border: 1px #ffffff solid;
	float: left;
	width: 260px;
	/* height: 115px; */
	height: 100%;
	padding: 20px;
}

.dwaGracz:hover {
	background-color: #d94348;
}